Repository samply/blaze, pull requests merged in 2022-05, with the labels that each got.

#697 Use Own Class for Resource Hash Instead of ByteString
  docs/implementation/database.md
  modules/byte-string/src/blaze/byte_string.clj
  modules/db-resource-store-cassandra/src/blaze/db/resource_store/cassandra.clj
  modules/db-resource-store-cassandra/test/blaze/db/resource_store/cassandra_test.clj
  modules/db-resource-store/src/blaze/db/resource_store/kv.clj
  modules/db-resource-store/src/blaze/db/resource_store_spec.clj
  modules/db-resource-store/test/blaze/db/resource_store/kv_test.clj
  modules/db-tx-log-kafka/src/blaze/db/tx_log/kafka/codec.clj
  modules/db/src/blaze/db/impl/codec.clj
  modules/db/src/blaze/db/impl/index/compartment/resource.clj
  modules/db/src/blaze/db/impl/index/compartment/search_param_value_resource.clj
  modules/db/src/blaze/db/impl/index/resource_as_of.clj
  modules/db/src/blaze/db/impl/index/resource_handle.clj
  modules/db/src/blaze/db/impl/index/resource_search_param_value.clj
  modules/db/src/blaze/db/impl/index/rts_as_of.clj
  modules/db/src/blaze/db/impl/index/search_param_value_resource.clj
  modules/db/src/blaze/db/impl/index/search_param_value_resource/impl.clj
  modules/db/src/blaze/db/impl/index/system_as_of.clj
  modules/db/src/blaze/db/impl/index/type_as_of.clj
  modules/db/src/blaze/db/impl/search_param/util.clj
  modules/db/src/blaze/db/node.clj
  modules/db/src/blaze/db/node/resource_indexer.clj
  modules/db/src/blaze/db/node/tx_indexer/verify.clj
  modules/db/src/blaze/db/tx_log/local/codec.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/impl/codec_spec.clj
  modules/db/test/blaze/db/impl/codec_test.clj
  modules/db/test/blaze/db/impl/index/compartment/resource_test_util.clj
  modules/db/test/blaze/db/impl/index/compartment/search_param_value_resource_test_util.clj
  modules/db/test/blaze/db/impl/index/resource_as_of_test_util.clj
  modules/db/test/blaze/db/impl/index/resource_handle_test.clj
  modules/db/test/blaze/db/impl/index/resource_search_param_value_spec.clj
  modules/db/test/blaze/db/impl/index/resource_search_param_value_test_util.clj
  modules/db/test/blaze/db/impl/index/rts_as_of_spec.clj
  modules/db/test/blaze/db/impl/index/search_param_value_resource_test.clj
  modules/db/test/blaze/db/impl/index/search_param_value_resource_test_util.clj
  modules/db/test/blaze/db/impl/index/system_as_of_test_util.clj
  modules/db/test/blaze/db/impl/index/type_as_of_test_util.clj
  modules/db/test/blaze/db/impl/search_param/composite_test.clj
  modules/db/test/blaze/db/impl/search_param/date_test.clj
  modules/db/test/blaze/db/impl/search_param/number_test.clj
  modules/db/test/blaze/db/impl/search_param/quantity_test.clj
  modules/db/test/blaze/db/impl/search_param/string_test.clj
  modules/db/test/blaze/db/impl/search_param/token_test.clj
  modules/db/test/blaze/db/impl/search_param_test.clj
  modules/db/test/blaze/db/node/resource_indexer_test.clj
  modules/db/test/blaze/db/node/transaction_test.clj
  modules/db/test/blaze/db/node/tx_indexer/verify_spec.clj
  modules/db/test/blaze/db/tx_log/local/codec_test.clj
  modules/fhir-structure/resources/data_readers.clj
  modules/fhir-structure/src/blaze/fhir/hash.clj
  modules/fhir-structure/src/blaze/fhir/hash/spec.clj
  modules/fhir-structure/src/blaze/fhir/hash_spec.clj
  modules/fhir-structure/test/blaze/fhir/hash_test.clj
Labels: module:db, performance, module:db-tx-log-kafka, module:db-resource-store, module:db-resource-store-cassandra

#698 Add Metrics to KV Resource Store
  modules/db-resource-store/src/blaze/db/resource_store/kv.clj
  modules/db-resource-store/test/blaze/db/resource_store/kv_test.clj
  resources/blaze.edn
Labels: module:db-resource-store, operation

#700 Implement CQL ConvertsToBoolean
  modules/cql/src/blaze/elm/compiler/type_operators.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/data_readers.clj
Labels: enhancement, module:cql

#701 Update CQL-to-ELM Translator to v1.5.8
  modules/cql/deps.edn
  modules/fhir-path/deps.edn
Labels: dependencies

#702 Change Version of CodeQL Upload Sarif to v2
  .github/workflows/build.yml
Labels: dependencies

#699 Implement Parallel Multi-Get in KV Resource Store
  docs/deployment/environment-variables.md
  modules/db-resource-store-cassandra/src/blaze/db/resource_store/cassandra.clj
  modules/db-resource-store/src/blaze/db/resource_store/kv.clj
  modules/db-resource-store/test/blaze/db/resource_store/kv_test.clj
  modules/kv/src/blaze/db/kv.clj
Labels: performance, module:db-resource-store

#703 Improve Content Negotiation
  .github/scripts/not-acceptable.sh
  .github/workflows/build.yml
  modules/db/src/blaze/db/api.clj
  modules/db/src/blaze/db/node.clj
  modules/interaction/src/blaze/interaction/search_type.clj
  modules/interaction/test/blaze/interaction/create_test.clj
  modules/interaction/test/blaze/interaction/history/instance_test.clj
  modules/interaction/test/blaze/interaction/read_test.clj
  modules/interaction/test/blaze/interaction/search/include_test.clj
  modules/interaction/test/blaze/interaction/search/params_test.clj
  modules/interaction/test/blaze/interaction/search_compartment_test.clj
  modules/interaction/test/blaze/interaction/search_system_test.clj
  modules/interaction/test/blaze/interaction/search_type_test.clj
  modules/interaction/test/blaze/interaction/test_util.clj
  modules/interaction/test/blaze/interaction/transaction/bundle/links_test.clj
  modules/interaction/test/blaze/interaction/transaction_test.clj
  modules/interaction/test/blaze/interaction/update_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/middleware/params_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/test_util.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure_test.clj
  modules/rest-api/deps.edn
  modules/rest-api/src/blaze/rest_api.clj
  modules/rest-api/src/blaze/rest_api/middleware/cors.clj
  modules/rest-api/src/blaze/rest_api/middleware/forwarded.clj
  modules/rest-api/src/blaze/rest_api/middleware/log.clj
  modules/rest-api/src/blaze/rest_api/middleware/output.clj
  modules/rest-api/src/blaze/rest_api/routes.clj
  modules/rest-api/test/blaze/rest_api/middleware/cors_test.clj
  modules/rest-api/test/blaze/rest_api/middleware/forwarded_test.clj
  modules/rest-api/test/blaze/rest_api/middleware/log_test.clj
  modules/rest-api/test/blaze/rest_api/middleware/output_test.clj
  modules/rest-api/test/blaze/rest_api/middleware/resource_test.clj
  modules/rest-api/test/blaze/rest_api_test.clj
  modules/rest-util/src/blaze/handler/util.clj
  modules/rest-util/src/blaze/middleware/fhir/error.clj
  modules/rest-util/test/blaze/handler/util_test.clj
  modules/rest-util/test/blaze/middleware/fhir/error_test.clj
  modules/test-util/deps.edn
  modules/test-util/src/blaze/test_util/ring.clj
  src/blaze/handler/app.clj
  src/blaze/handler/health.clj
  test/blaze/handler/app_test.clj
  test/blaze/handler/health_test.clj
  test/blaze/system_test.clj
Labels: enhancement, refactoring, module:rest-api, module:rest-util

#706 Fix Server Errors Because of Unencoded Error Outputs
  modules/rest-api/src/blaze/rest_api.clj
  modules/rest-api/src/blaze/rest_api/middleware/output.clj
  modules/rest-api/test/blaze/rest_api_test.clj
  modules/rest-util/src/blaze/handler/util.clj
  modules/rest-util/test/blaze/handler/util_test.clj
  test/blaze/system_test.clj
Labels: bug, module:rest-api

#710 Fix Content Negotiation
  modules/rest-api/src/blaze/rest_api/middleware/output.clj
  modules/rest-api/test/blaze/rest_api/middleware/output_test.clj
Labels: bug, module:rest-api

#713 Reorder XML Conformer Steps
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
Labels: module:fhir-structure

#715 Remove Resource Parsing Pool
  modules/rest-api/src/blaze/rest_api.clj
  modules/rest-api/src/blaze/rest_api/middleware/resource.clj
  modules/rest-api/src/blaze/rest_api/routes.clj
  modules/rest-api/test/blaze/rest_api/middleware/resource_test.clj
  modules/rest-api/test/blaze/rest_api_test.clj
  src/blaze/system.clj
  test/blaze/system_test.clj
Labels: performance, module:rest-api

#716 Update Dependencies
  .github/workflows/build.yml
  deps.edn
  modules/cassandra/deps.edn
  modules/db-tx-log-kafka/deps.edn
  modules/rocksdb/deps.edn
Labels: dependencies

#717 Return an Error on Incorrect Content-Type for Search Requests
  modules/db-stub/src/blaze/db/api_stub.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/node_test.clj
  modules/rest-api/src/blaze/rest_api/middleware/ensure_form_body.clj
  modules/rest-api/src/blaze/rest_api/routes.clj
  modules/rest-api/test/blaze/rest_api_test.clj
  test/blaze/system_test.clj
Labels: bug, module:rest-api

#718 Update Jackson to v2.13.3
  modules/byte-string/deps.edn
  modules/cassandra/deps.edn
  modules/cql/deps.edn
  modules/fhir-structure/deps.edn
  modules/http-client/deps.edn
  modules/rest-api/deps.edn
Labels: dependencies

#722 Allow Extensions on Primitive Data Types
  .github/workflows/build.yml
  modules/db-stub/src/blaze/db/api_stub.clj
  modules/db/test-perf/blaze/db/api_test_perf.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/node_test.clj
  modules/db/test/blaze/db/test_util.clj
  modules/fhir-path/src/blaze/fhir_path.clj
  modules/fhir-structure/.clj-kondo/config.edn
  modules/fhir-structure/.clj-kondo/macros.clj
  modules/fhir-structure/deps.edn
  modules/fhir-structure/resources/data_readers.clj
  modules/fhir-structure/src/blaze/fhir/spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl/specs.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl/util.clj
  modules/fhir-structure/src/blaze/fhir/spec/type.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/macros.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/protocols.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/system.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/system/spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/type_spec.clj
  modules/fhir-structure/test-perf/blaze/fhir/spec/memory.clj
  modules/fhir-structure/test-perf/blaze/fhir/spec/type_test_mem.clj
  modules/fhir-structure/test-perf/blaze/fhir/spec_test_perf.clj
  modules/fhir-structure/test/blaze/fhir/spec/impl/util_spec.clj
  modules/fhir-structure/test/blaze/fhir/spec/impl_test.clj
  modules/fhir-structure/test/blaze/fhir/spec/type_test.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/measure.clj
Labels: bug, module:fhir-structure

#725 Improve Interning of Complex Types
  docs/performance/fhir-search.md
  modules/db-resource-store/test/blaze/db/resource_store/cbor_test.clj
  modules/db-stub/src/blaze/db/api_stub.clj
  modules/db/test-perf/blaze/db/api_test_perf.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/impl/search_param/quantity_test.clj
  modules/fhir-structure/resources/data_readers.clj
  modules/fhir-structure/src/blaze/fhir/spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl/specs.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl/util.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl/xml.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl_spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/type.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/json.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/macros.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/protocols.clj
  modules/fhir-structure/test-perf/blaze/fhir/spec/type_test_mem.clj
  modules/fhir-structure/test-perf/blaze/fhir/spec_test_perf.clj
  modules/fhir-structure/test/blaze/fhir/spec/generators.clj
  modules/fhir-structure/test/blaze/fhir/spec/impl/xml_spec.clj
  modules/fhir-structure/test/blaze/fhir/spec/impl_test.clj
  modules/fhir-structure/test/blaze/fhir/spec/type/json_test.clj
  modules/fhir-structure/test/blaze/fhir/spec/type_test.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/measure.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/measure/stratifier.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure_test.clj
Labels: performance
