Repository samply/blaze, pull requests merged in 2022-07, with the labels that each got.

#747 Implement CQL ToTime and rearrange ToDate and ToDateTime
  modules/cql/src/blaze/elm/compiler/type_operators.clj
  modules/cql/src/blaze/elm/date_time.clj
  modules/cql/src/blaze/elm/deps_infer.clj
  modules/cql/src/blaze/elm/nil.clj
  modules/cql/src/blaze/elm/protocols.clj
  modules/cql/src/blaze/elm/string.clj
  modules/cql/test/blaze/cql_test.clj
  modules/cql/test/blaze/elm/compiler/comparison_operators_test.clj
  modules/cql/test/blaze/elm/compiler/date_time_operators_test.clj
  modules/cql/test/blaze/elm/compiler/test_util.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/blaze/elm/literal_spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/type/system.clj
  modules/fhir-structure/test/blaze/fhir/spec/type/system_test.clj
Labels: enhancement, module:cql

#751 Implement CQL ConvertsToDate and ConvertsToDateTime and add new query…
  docs/conformance/cql.md
  modules/cql/src/blaze/elm/compiler/type_operators.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/data_readers.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q39-social-sec-num-data.json
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q39-social-sec-num-query.cql
Labels: enhancement, module:cql

#760 Fix Reference Resolution on Extended Primitive References
  modules/db/test/blaze/db/node/transaction_test.clj
  modules/fhir-structure/src/blaze/fhir/spec/type.clj
  modules/fhir-structure/test/blaze/fhir/spec/type_test.clj
Labels: bug, module:fhir-structure

#759 Implement CQL ConvertsToTime
  docs/conformance/cql.md
  modules/cql/src/blaze/elm/compiler/type_operators.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/data_readers.clj
Labels: enhancement, module:cql

#765 Fix Quantity Indexing without Value
  modules/db/src/blaze/db/impl/search_param/quantity.clj
  modules/db/test/blaze/db/impl/search_param/quantity_test.clj
Labels: bug, module:db

#772 Remove Bare Polymorph JSON Properties
  .github/scripts/evaluate-measure-subject-list.sh
  docs/cql-queries/api.md
  evaluate-measure.sh
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/middleware/params_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure_test.clj
Labels: bug, module:fhir-structure

#773 Migrate to Eclipse Temurin because OpenJDK is Deprecated
  Dockerfile
  docs/deployment/manual-deployment.md
  modules/server/deps.edn
Labels: security, dependencies

#774 Update Dependencies
  deps.edn
  modules/cassandra/deps.edn
  modules/cql/deps.edn
  modules/fhir-path/deps.edn
Labels: dependencies

#754 Add type operators to deps_infer.clj and normalizer.clj
  modules/cql/src/blaze/elm/deps_infer.clj
  modules/cql/src/blaze/elm/normalizer.clj
Labels: enhancement, module:cql
