Repository samply/blaze, pull requests merged in 2022-11, with the labels that each got.

#828 Update Dependencies
  .github/workflows/build.yml
  modules/byte-buffer/deps.edn
  modules/byte-string/deps.edn
  modules/cassandra/deps.edn
  modules/cql/deps.edn
  modules/fhir-structure/deps.edn
  modules/http-client/deps.edn
Labels: dependencies

#829 Remove English Locale to Prevent CQL Parsing Bug
  modules/cql/src/blaze/cql_translator.clj
  modules/cql/test/blaze/cql_translator_test.clj
Labels: module:cql

#831 Revert Purging curl for Future Docker Health Checks
  Dockerfile
Labels: operation

#835 Fix CQL Function Argument Hiding
  .github/workflows/build.yml
  modules/cql/src/blaze/elm/compiler/macros.clj
  modules/cql/src/blaze/elm/compiler/queries.clj
  modules/cql/src/blaze/elm/compiler/structured_values.clj
  modules/cql/test/blaze/elm/compiler/queries_test.clj
  modules/cql/test/blaze/elm/compiler/string_operators_test.clj
  modules/cql/test/blaze/elm/compiler/structured_values_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q47-managing-organization.cql
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q47-managing-organization.json
Labels: bug, module:cql

#810 Implement CQL ratio
  docs/conformance/cql.md
  modules/cql/src/blaze/elm/compiler/clinical_values.clj
  modules/cql/src/blaze/elm/ratio.clj
  modules/cql/src/blaze/elm/spec.clj
  modules/cql/test/blaze/elm/compiler/clinical_values_test.clj
  modules/cql/test/blaze/elm/compiler/comparison_operators_test.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/blaze/elm/literal_spec.clj
  modules/cql/test/blaze/elm/ratio_spec.clj
  modules/cql/test/data_readers.clj
  modules/fhir-structure/resources/data_readers.clj
Labels: enhancement, module:cql

#839 Implement CQL concept
  modules/cql/src/blaze/elm/compiler/clinical_values.clj
  modules/cql/src/blaze/elm/concept.clj
  modules/cql/src/blaze/elm/spec.clj
  modules/cql/test/blaze/elm/compiler/clinical_values_test.clj
  modules/cql/test/blaze/elm/concept_spec.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/blaze/elm/literal_spec.clj
  modules/cql/test/data_readers.clj
Labels: enhancement, module:cql

#843 Update Dependencies
  .github/workflows/build.yml
  deps.edn
  modules/byte-string/deps.edn
  modules/cassandra/deps.edn
  modules/cql/deps.edn
  modules/fhir-structure/deps.edn
  modules/http-client/deps.edn
  modules/page-store/deps.edn
  modules/test-util/deps.edn
Labels: dependencies

#840 Implement CQL ToRatio
  docs/conformance/cql.md
  modules/cql/src/blaze/elm/compiler/type_operators.clj
  modules/cql/src/blaze/elm/deps_infer.clj
  modules/cql/src/blaze/elm/nil.clj
  modules/cql/src/blaze/elm/normalizer.clj
  modules/cql/src/blaze/elm/protocols.clj
  modules/cql/src/blaze/elm/ratio.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/blaze/elm/literal_spec.clj
  modules/cql/test/data_readers.clj
Labels: enhancement, module:cql

#847 Update Blazectl
  .github/scripts/install-blazectl.sh
Labels: dependencies
