Repository samply/blaze, pull requests merged in 2024-10, with the labels that each got.

#2095 Add Docs
  modules/anomaly/src/blaze/anomaly.clj
Labels: documentation, module:anomaly

#2043 Add `query-params` Validation
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/middleware/params.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/middleware/params_test.clj
Labels: module:evaluate-measure

#2112 Fix Returning Resources with Non-Matching Identifier
  modules/db/src/blaze/db/impl/search_param/token.clj
  modules/db/test/blaze/db/api_test.clj
Labels: bug, module:db

#2131 Update HAPI to v7.4.4
  modules/admin-api/deps.edn
Labels: dependencies, module:admin-api

#2147 Improve Patient Purge Testing
  .github/scripts/check-resource-totals-after-patient-purge.sh
  .github/scripts/patient-purge-all.sh
  .github/workflows/build.yml
  Makefile
  docs/implementation/database.md
  modules/db/src/blaze/db/api.clj
  modules/db/src/blaze/db/impl/index/resource_handle.clj
  modules/db/src/blaze/db/node/tx_indexer/util.clj
  modules/db/src/blaze/db/node/tx_indexer/verify.clj
  modules/db/test/blaze/db/api_test.clj
  profiling/blaze/profiling.clj
Labels: module:db

#2149 Update Node to v23 for the Frontend Container
  modules/frontend/Dockerfile
Labels: dependencies, module:frontend

#2150 Update Nginx to v 1.27.2
  docs/deployment/full-standalone.md
  docs/deployment/full-standalone/docker-compose.yml
  modules/frontend-e2e/docker-compose.yml
Labels: dependencies

#2153 Implement Job History in Admin API
  .github/scripts/admin-api/async-job.sh
  modules/admin-api/src/blaze/admin_api.clj
  modules/admin-api/src/blaze/admin_api/spec.clj
  modules/admin-api/test/blaze/admin_api_test.clj
  modules/rest-api/src/blaze/rest_api/routes.clj
  modules/rest-util/src/blaze/middleware/link_headers.clj
  modules/rest-util/test/blaze/middleware/link_headers_test.clj
  resources/blaze.edn
Labels: enhancement, module:admin-api

#2154 Add Note About Fix Context Path When Using the UI
  docs/deployment/full-standalone.md
Labels: documentation

#2162 Improve FHIR Search Performance with Subject References
  docs/performance/fhir-search.md
  docs/performance/fhir-search/code-date-patient-search.sh
  docs/performance/fhir-search/code-patient-search.sh
  docs/performance/fhir-search/util.sh
  modules/db/src/blaze/db/impl/batch_db.clj
  modules/db/src/blaze/db/node.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/search_param_registry_test.clj
Labels: module:db, dependencies
