Repository samply/blaze, pull requests merged in 2024-07, with the labels that each got.

#1865 Update blazectl to v0.16.0 in CI
  .github/scripts/install-blazectl.sh
Labels: dependencies

#1866 Improve Stability of Thread Pool Executor Test
  modules/thread-pool-executor-collector/test/blaze/thread_pool_executor_collector_test.clj
Labels: test-fix

#1868 Ignore Unknown Values of the _summary Search Param
  modules/interaction/src/blaze/interaction/search/params.clj
  modules/interaction/test/blaze/interaction/search/params_test.clj
  modules/rest-api/test/blaze/rest_api/capabilities_handler_test.clj
  modules/rest-util/src/blaze/handler/fhir/util.clj
  modules/rest-util/test/blaze/handler/fhir/util_test.clj
  modules/rest-util/test/blaze/handler/util_test.clj
Labels: bug

#1873 Implement the ToConcept Function and Equivalence on Concept
  docs/conformance/cql.md
  modules/cql/src/blaze/elm/code.clj
  modules/cql/src/blaze/elm/compiler/clinical_values.clj
  modules/cql/src/blaze/elm/compiler/reusing_logic.clj
  modules/cql/src/blaze/elm/compiler/structured_values.clj
  modules/cql/src/blaze/elm/concept.clj
  modules/cql/src/blaze/elm/list.clj
  modules/cql/src/blaze/elm/quantity.clj
  modules/cql/test/blaze/elm/code_spec.clj
  modules/cql/test/blaze/elm/code_test.clj
  modules/cql/test/blaze/elm/compiler/clinical_values_test.clj
  modules/cql/test/blaze/elm/compiler/comparison_operators_test.clj
  modules/cql/test/blaze/elm/compiler/external_data_test.clj
  modules/cql/test/blaze/elm/compiler/library_test.clj
  modules/cql/test/blaze/elm/compiler/list_operators_test.clj
  modules/cql/test/blaze/elm/compiler/queries_test.clj
  modules/cql/test/blaze/elm/compiler/reusing_logic_test.clj
  modules/cql/test/blaze/elm/compiler/structured_values_test.clj
  modules/cql/test/blaze/elm/compiler/test_util.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/blaze/elm/concept_spec.clj
  modules/cql/test/blaze/elm/ratio_test.clj
  modules/cql/test/blaze/elm/resource_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q44-tnm-t.cql
Labels: enhancement, module:cql

#1877 Add Patient Compartment Definition to Capability Statement
  modules/fhir-structure/test/blaze/fhir/spec/generators.clj
  modules/rest-api/src/blaze/rest_api/capabilities_handler.clj
  modules/rest-api/test/blaze/rest_api/capabilities_handler_test.clj
Labels: enhancement, module:rest-api

#1887 Add DB_RESOURCE_STORE_KV_THREADS into Tuning Guide
  docs/deployment/environment-variables.md
  docs/tuning-guide.md
Labels: documentation

#1889 Remove Content-Type Header from Empty Responses
  .github/scripts/delete.sh
  .github/scripts/util.sh
  modules/rest-util/src/blaze/middleware/fhir/output.clj
  modules/rest-util/test/blaze/middleware/fhir/output_test.clj
Labels: bug, module:rest-util

#1893 Update monitoring.md
  docs/monitoring.md
Labels: documentation

#1900 Tidy up the RocksDB File Sizes
  resources/blaze.edn
Labels: performance, cleanup

#1904 Tidy Up Dependencies
  modules/rest-api/Makefile
  modules/rest-util/Makefile
  modules/rest-util/deps.edn
Labels: dependencies, cleanup

#1905 Cleanup Codes Evaluation in Retrieve Expression
  modules/cql/src/blaze/elm/code.clj
  modules/cql/src/blaze/elm/compiler/external_data.clj
  modules/cql/src/blaze/elm/compiler/structured_values.clj
  modules/cql/test/blaze/elm/code_spec.clj
  modules/cql/test/blaze/elm/compiler/external_data_test.clj
  modules/cql/test/blaze/elm/compiler/library_test.clj
  modules/cql/test/blaze/elm/compiler/structured_values_test.clj
  modules/cql/test/blaze/elm/concept_spec.clj
Labels: module:cql, refactoring

#1907 Log Timeout in $evaluate-measure Operation Handler
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure_test.clj
Labels: operation

#1909 Cleanup Structured Value Tests
  modules/cql/test/blaze/elm/compiler/structured_values_test.clj
Labels: cleanup

#1919 Use Byte Buffer Spec in more Tests
  modules/byte-string/src/blaze/byte_string_spec.clj
  modules/cql/test/blaze/elm/expression/cache/codec/by_t_spec.clj
  modules/cql/test/blaze/elm/expression/cache/codec/form_spec.clj
  modules/cql/test/blaze/elm/expression/cache/codec_spec.clj
  modules/cql/test/blaze/elm/expression/cache_test.clj
  modules/db/test/blaze/db/impl/codec/date_spec.clj
  modules/db/test/blaze/db/impl/codec_spec.clj
  modules/db/test/blaze/db/impl/index/patient_last_change_spec.clj
  modules/db/test/blaze/db/impl/index/resource_as_of_spec.clj
  modules/db/test/blaze/db/impl/index/resource_handle_spec.clj
  modules/db/test/blaze/db/impl/index/resource_search_param_value_spec.clj
  modules/db/test/blaze/db/impl/iterators_spec.clj
Labels: module:cql, module:db

#1920 Fix CQL Performance Test Script
  docs/performance/cql/search.sh
Labels: test-fix

#1921 Update RocksDB from v8.11.4 to v9.4.0
  docs/monitoring/blaze.json
  modules/rocksdb/deps.edn
  modules/rocksdb/src/blaze/db/kv/rocksdb/metrics.clj
  modules/rocksdb/test/blaze/db/kv/rocksdb/metrics_test.clj
Labels: module:rocksdb, dependencies

#1923 Optimize Thread Usage while Loading Resources
  modules/db-resource-store-cassandra/test/blaze/db/resource_store/cassandra_test.clj
  modules/db-resource-store/src/blaze/db/resource_store.clj
  modules/db-resource-store/src/blaze/db/resource_store/kv.clj
  modules/db-resource-store/test/blaze/db/resource_store/kv_test.clj
  modules/db/src/blaze/db/api.clj
  modules/db/src/blaze/db/impl/db.clj
  modules/db/src/blaze/db/node.clj
  modules/db/src/blaze/db/node/resource_indexer.clj
  modules/db/test/blaze/db/api_test.clj
  modules/interaction/src/blaze/interaction/delete.clj
  modules/interaction/src/blaze/interaction/read.clj
  modules/interaction/src/blaze/interaction/transaction.clj
  modules/job-async-interaction/src/blaze/job/async_interaction.clj
  modules/job-async-interaction/test/blaze/job/async_interaction/util_test.clj
  modules/job-re-index/src/blaze/job/re_index.clj
  modules/job-scheduler/src/blaze/job_scheduler.clj
  modules/job-scheduler/test/blaze/job_scheduler_test.clj
  modules/job-scheduler/tests.edn
  modules/job-util/src/blaze/job/util.clj
  modules/job-util/test/blaze/job/util_test.clj
  modules/module-test-util/src/blaze/module/test_util.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/measure.clj
  modules/rest-api/src/blaze/rest_api/async_status_cancel_handler.clj
  modules/rest-api/src/blaze/rest_api/async_status_handler.clj
  modules/rest-util/src/blaze/fhir/response/create.clj
  modules/rest-util/src/blaze/handler/fhir/util.clj
  modules/rest-util/test/blaze/handler/fhir/util_test.clj
Labels: performance, module:db-resource-store

#1926 Refactor Function blaze.elm.util/parse-type
  docs/implementation/database.md
  modules/cql/src/blaze/elm/util.clj
  modules/cql/test/blaze/elm/util_spec.clj
  modules/cql/test/blaze/elm/util_test.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/cql.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/cql_test.clj
Labels: module:cql, refactoring

#1934 Parallelize Code Coverage Calculation
  .github/workflows/build.yml
  .github/workflows/coverage.yml
Labels: refactoring, ci

#1935 Improve CI Perf by Build Before Testing
  .github/workflows/build.yml
Labels: refactoring, ci

#1937 Demonstrate the Version Independent CQL Retrieve
  modules/cql/test/blaze/elm/compiler/library_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q59-icd10-code-version-independent.cql
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q59-icd10-code-version-independent.json
Labels: module:cql, module:evaluate-measure

#1945 Fix Error While Optimizing CQL Queries
  modules/cql/src/blaze/elm/compiler/queries.clj
  modules/cql/test/blaze/elm/compiler/queries_test.clj
  modules/db/src/blaze/db/impl/index.clj
  modules/db/test/blaze/db/impl/index_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q60-medication.cql
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q60-medication.json
Labels: bug, module:cql

#1947 Optimize CQL Exists over Empty Lists into False
  modules/coll/src/blaze/coll/core.clj
  modules/coll/test/blaze/coll/core_test.clj
  modules/cql/src/blaze/elm/compiler/library.clj
  modules/cql/src/blaze/elm/compiler/library_spec.clj
  modules/cql/src/blaze/elm/compiler/list_operators.clj
  modules/cql/src/blaze/elm/compiler/macros.clj
  modules/cql/test/blaze/elm/compiler/library_test.clj
  modules/cql/test/blaze/elm/compiler/list_operators_test.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/measure.clj
Labels: module:cql, performance

#1950 Optimize CQL Logical Expressions
  cljfmt.edn
  modules/cql/src/blaze/elm/compiler/logical_operators.clj
  modules/cql/src/blaze/elm/compiler/macros.clj
  modules/cql/test/blaze/elm/compiler/arithmetic_operators_test.clj
  modules/cql/test/blaze/elm/compiler/conditional_operators_test.clj
  modules/cql/test/blaze/elm/compiler/date_time_operators_test.clj
  modules/cql/test/blaze/elm/compiler/interval_operators_test.clj
  modules/cql/test/blaze/elm/compiler/library_test.clj
  modules/cql/test/blaze/elm/compiler/list_operators_test.clj
  modules/cql/test/blaze/elm/compiler/logical_operators_test.clj
  modules/cql/test/blaze/elm/compiler/nullological_operators_test.clj
  modules/cql/test/blaze/elm/compiler/reusing_logic_test.clj
  modules/cql/test/blaze/elm/compiler/string_operators_test.clj
  modules/cql/test/blaze/elm/compiler/test_util.clj
  modules/cql/test/blaze/elm/compiler/type_operators_test.clj
  modules/cql/test/data_readers.clj
Labels: module:cql, performance
