Repository samply/blaze, pull requests merged in 2025-03, with the labels that each got.

#2443 Expose Base Profiles via StructureDefinition Endpoint
  .github/scripts/admin-api/async-job.sh
  .github/scripts/check-code-system-read-only.sh
  .github/scripts/check-resource-read-only.sh
  .github/scripts/check-resource-totals-after-patient-purge.sh
  .github/scripts/check-resource-totals.sh
  .github/workflows/build.yml
  modules/frontend-e2e/src/fhir.spec.ts
  modules/frontend/src/lib/metadata.ts
  modules/frontend/src/routes/__metadata/StructureDefinition/+server.ts
  modules/frontend/src/routes/metadata/metadata-card.svelte
  modules/rest-api/.clj-kondo/config.edn
  modules/rest-api/src/blaze/rest_api.clj
  modules/rest-api/src/blaze/rest_api/batch_handler.clj
  modules/rest-api/src/blaze/rest_api/metadata_handler.clj
  modules/rest-api/src/blaze/rest_api/routes.clj
  modules/rest-api/src/blaze/rest_api/structure_definitions.clj
  modules/rest-api/test/blaze/rest_api/metadata_handler_test.clj
  modules/rest-api/test/blaze/rest_api/routes_test.clj
  modules/rest-api/test/blaze/rest_api/structure_definitions_test.clj
  modules/rest-api/test/blaze/rest_api_test.clj
  modules/terminology-service/src/blaze/terminology_service/local/code_system/bcp_13.clj
  modules/terminology-service/src/blaze/terminology_service/local/code_system/ucum.clj
  modules/terminology-service/src/blaze/terminology_service/local/code_system/util.clj
  resources/blaze.edn
  test/blaze/system_test.clj
Labels: refactoring, module:rest-api

#2454 Update Frontend Dependencies
  modules/frontend/package-lock.json
  modules/frontend/package.json
  modules/frontend/src/routes/signout/+page.server.ts
Labels: dependencies, module:frontend

#2449 Terminology Service SCT Multi-Module Support
  .github/scripts/snomed-ct-validate-code.sh
  .github/workflows/build.yml
  docs/implementation/terminology-service.md
  docs/performance/terminology-service/Makefile
  docs/performance/terminology-service/data/value-set-validate-code-alpha-id.csv
  docs/performance/terminology-service/data/value-set-validate-code-atc.csv
  docs/performance/terminology-service/data/value-set-validate-code-icd-10-gm.csv
  docs/performance/terminology-service/data/value-set-validate-code-laboratory-observation.csv
  docs/performance/terminology-service/data/value-set-validate-code-snomed-ct-body-site.csv
  docs/performance/terminology-service/data/value-set-validate-code-snomed-ct-diagnoses.csv
  docs/performance/terminology-service/plots/value-set-validate-code-alpha-id.png
  docs/performance/terminology-service/plots/value-set-validate-code-atc.png
  docs/performance/terminology-service/plots/value-set-validate-code-icd-10-gm.png
  docs/performance/terminology-service/plots/value-set-validate-code-laboratory-observation.png
  docs/performance/terminology-service/plots/value-set-validate-code-snomed-ct-body-site.png
  docs/performance/terminology-service/plots/value-set-validate-code-snomed-ct-diagnoses.png
  modules/terminology-service/sct-release/Full/Terminology/sct2_Concept_Full_GermanyEdition_20241115.txt
  modules/terminology-service/sct-release/Full/Terminology/sct2_Description_Full_GermanyEdition_20241115.txt
  modules/terminology-service/src/blaze/terminology_service/local/code_system/sct.clj
  modules/terminology-service/src/blaze/terminology_service/local/code_system/sct/context.clj
  modules/terminology-service/src/blaze/terminology_service/local/code_system/util.clj
  modules/terminology-service/test/blaze/terminology_service/local/code_system/sct/context_spec.clj
  modules/terminology-service/test/blaze/terminology_service/local/code_system/sct/context_test.clj
  modules/terminology-service/test/blaze/terminology_service/local/code_system/sct_test.clj
  modules/terminology-service/test/blaze/terminology_service/local_test.clj
Labels: enhancement, module:terminology-service

#2468 Fix Low and High Property Access on Interval
  modules/cql/src/blaze/elm/compiler/interval_operators.clj
  modules/cql/src/blaze/elm/interval.clj
  modules/cql/test/blaze/elm/compiler/library_test.clj
  modules/cql/test/blaze/elm/compiler/structured_values_test.clj
  modules/cql/test/blaze/elm/interval_spec.clj
Labels: bug, module:cql

#2473 Add LOINC Answer List Property answer-list
  docs/terminology-service/loinc.md
  modules/terminology-service/src/blaze/terminology_service/local/code_system/loinc/filter/equals.clj
  modules/terminology-service/test/blaze/terminology_service/local_test.clj
Labels: enhancement, module:terminology-service

#2481 Document Terminology Resource Resolution
  docs/api/operation/code-system-validate-code.md
  docs/api/operation/value-set-expand.md
  docs/api/operation/value-set-validate-code.md
  docs/terminology-service/fhir.md
  docs/terminology-service/loinc.md
  docs/terminology-service/resource-resolution.md
  docs/terminology-service/snomed-ct.md
  modules/terminology-service/src/blaze/terminology_service/local/priority.clj
  modules/terminology-service/test/blaze/terminology_service/local/priority_test.clj
  modules/terminology-service/test/blaze/terminology_service/local_test.clj
Labels: documentation

#2497 Improve DEVELOPMENT.md.
  DEVELOPMENT.md
Labels: documentation

#2500 Cleanups
  modules/cql/src/blaze/elm/string.clj
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/middleware/params.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/middleware/params_test.clj
  modules/rest-util/src/blaze/middleware/fhir/resource_spec.clj
  modules/rest-util/test/blaze/middleware/fhir/resource_test.clj
Labels: cleanup

#2507 Improve Anomaly Detection Performance
  modules/anomaly/src/blaze/anomaly.clj
Labels: performance, module:anomaly

#2508 Update Ring
  modules/rest-util/deps.edn
  modules/server/deps.edn
Labels: dependencies

#2524 Update reitit to v0.8
  modules/admin-api/deps.edn
  modules/rest-util/deps.edn
  renovate.json
Labels: dependencies
